body {
    margin: 0;
    font-family: 'Montserrat', Arial, sans-serif;
    background: #fff;
    color: #222;
}

#navbar-placeholder + main,
main.books {
    margin-top: 120px; /* Increase to match navbar height */
}